.map-inner, .map-container, .map-container > svg {
    width: 100% !important;
}

.isFallback {
    position:relative;
}
.isFallback .shop-marker {
    position:absolute;
    display:block;
    background: white;
    border: 1px solid black;
    padding: 5px;
    font-size: 18px;
    color: black
}

/* pro iscroll */
.map-wrapper {
    position: relative;
    overflow: hidden;
    height: 470px;

    /* Prevent native touch events on Windows */

    -ms-touch-action: pan-y;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}


.map-wrapper > div{
    position: absolute;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.map-inner > div {
    margin:0 auto;
}

/* vyber pater */

.map-select-wrap {
    display: none;
}

.map-container {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

svg>g {
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
}

@media (max-width: 785px) {
    .map-nav {
        display:none;
    }

    .map-select {
        display:inline-block;
    }

    .map-select.selectboxit-btn {
        width:300px;
        color: #18202A;
        background: none;
        display: block;
        text-align:left;
    }

    .map-select-wrap {
        display: block;
        text-align: center;
        position: absolute ;
        top:30px;
        left:0px;
        width:100%;
    }

    .map-select-wrap span.selectboxit-container {
        border: 1px solid #DFDBD0;
    }

}

/* dalsi ikonky pro mapu */
.map-ico-supermarket {background: url("../images/svgmaps/logos/poi_supermarket.png") left center no-repeat}
.map-ico-cinema {background: url("../images/svgmaps/logos/poi_cinema.png") left center no-repeat}
.map-ico-info {background: url("../images/svgmaps/logos/poi_info.png") left center no-repeat}
.map-ico-parking1 {background: url("../images/svgmaps/logos/poi_parking1.png") left center no-repeat}
.map-ico-parking2 {background: url("../images/svgmaps/logos/poi_parking2.png") left center no-repeat}
.map-ico-parking3 {background: url("../images/svgmaps/logos/poi_parking3.png") left center no-repeat}
.map-ico-sprava {background: url("../images/svgmaps/logos/poi_sprava.png") left center no-repeat}
.map-ico-children {background: url("../images/svgmaps/logos/poi_children.png") left center no-repeat}
.map-ico-children2 {background: url("../images/svgmaps/logos/poi_children2.png") left center no-repeat; background-size: 47px; background-repeat: no-repeat}
.map-ico-wcvozik {background: url("../images/svgmaps/logos/poi_wcvozik.png") left center no-repeat}
.map-ico-food {background: url("../images/svgmaps/logos/poi_food.png") left center no-repeat}
.map-ico-atm {background: url("../images/svgmaps/logos/poi_atm.png") left center no-repeat}
.map-ico-carwash {background: url("../images/svgmaps/logos/poi_carwash.png") left center no-repeat}
.map-ico-lanovka {background: url("../images/svgmaps/logos/poi_lanovka.png") left center no-repeat}
.map-ico-travelator {background: url("../images/svgmaps/logos/poi_travelator.png") left center no-repeat}
.map-ico-parkomat  {background: url("../images/svgmaps/logos/poi_parkomat.png") left center no-repeat}
.map-ico-bankomat  {background: url("../images/svgmaps/logos/poi_bankomat.png") left center no-repeat}
.map-ico-fitness  {background: url("../images/svgmaps/logos/poi_fitness.png") left center no-repeat; background-size: 47px; background-repeat: no-repeat}

.map-shop-detail {
    margin: 25px;
    padding: 25px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.map-shop-detail-opening-hours {
    overflow-x: hidden;
}

.map-category-container {
    margin: 25px;
}

.map-shop-search-wrapper > div {
    margin-left: auto;
    margin-right: auto;
}

.shop-label {
    fill: #3c3c3c !important;
    font: 20px sans-serif;
}

.shop-label.small {
    font-size: 10px;
}

button[data-map-category-id].active {
    background-color: #999;
}