
@media (max-width: 995px) {
	/* hlavicka + menu */
	
	.menu .with-submenu:nth-child(1) {width: auto}
	.menu .with-submenu:nth-child(2) {width: auto}
	.menu .with-submenu:nth-child(3) {width: auto}
	.menu .with-submenu:nth-child(4) {width: auto}
	.menu .with-submenu:nth-child(5) {width: auto}
	.menu .with-submenu:nth-child(6) {width: auto}

	.head-right {position: relative}
	.top-image.higher h1 {margin: 57px 105px 15px 115px;}
	.top-image.higher img, .top-image img {height: 100%}

	.head-in, .menu-in {width: 100%}
	.top-image-in {width: 720px}
	.menu-mobile {height: 0px}

	ul.menu {display: none}
	ul.menu.active {display: block}
	li.with-submenu div.submenu-overlay {display: none}
	
	.back-list {left: 0px;}
	.menu-logo {margin-right: 0;}
	
	/* /hlavicka */
	
	/* ktery obrazek budeme zobrazovat dle velikosti */
	.fun-image img.big {display: none}
	.fun-image img.mid {display: block}


	/* homepage */
	.shop-sort .sort-me, .shop-sort .selectboxit-container {display: none}
	.slider-box.active .slider-box-in {display: block}
	/* /homepage */
	
	div.shop-list-compat {width: 100%; float: left}
	div.shop-list-compat > div.shop-list-col {float:left; width: 100%; margin-right: 0}
	div.shop-list-compat .shop-list-col ul {padding: 0px}
	/*div > div.shop-list-col:nth-of-type(odd) {float:left; clear: both}
	div > div.shop-list-col:nth-of-type(even) {float:right;}*/
  
  div.shop-list-compat-contact {width: 100%}

	.description-content {height: auto;}
	.text-resize {padding-bottom: 20px}

	.top-image h1 {max-width: 490px;}
	.menu-mobile {position: absolute; top: 0; right: 0; width: 100%; text-align: right;}

	.facebook-links {display: none !important}
	.ca-text {width: 336px;}
	.action-ico {display: block}

	.fun, .fun-whole.wider .fun {margin: 0 13px 10px 0}
	.fun:nth-child(even), .fun-whole.wider .fun:nth-child(even){margin: 0 0 10px 0}

	.social {width: 282px; margin: 0 75px 10px 0px}
	.social:nth-child(even) {margin-right: 0px}

	.soc1, .soc2 {display: inline-block}
	.social-block-container .socials-whole {height: 210px}
	.social-block-container .socials-whole a:nth-of-type(3n) {margin: 0 75px 10px 0px;}
	.social-block-container .socials-whole a:nth-of-type(2n) {margin-right: 0px}
	.social-block-container .load-more .show-more {display: inline-block; margin-top: 20px}

	.shop-actions.sub .shop-action {width: 312px;}

	.action-slider-nav, .shop-actions-conainer, .action-slider-container {width: 680px;}
	.homepage .action-slider, .homepage .shop-actions-list, .homepage .socials-whole {width: 20000em}
	.action-slider li {margin: 0 20px;}

	.logos .big {display: none}
	.logos .mid {display: block}

	.news-top-in a > img.big {display: none}
	.news-top-in a > img.mid {display: inline-block}
	.news-top-in a > img.small {display: none}
	.map {margin-left: 0; }
	.map img {left: 0}

	div.gallery {
		height: 216px;
	}
	.sort.news-sort .sort-right {display: none}
	.right-container .sort-me {display: inline-block}
	
	.fun.service .action-more {/*width: 40%;*/ margin-right: 4%;}
	
	.contact-block {width: 285px}

	.map-nav li {overflow: hidden}

	.about-shop.as2 {padding: 27px 28px 27px 27px; min-height: 192px}
	.shop-image img {width: 100%}
	/*.fun-whole.diswideme .fun span > span.higher {height: auto}*/
	/*.fun-whole.diswideme .fun span > span.lower {height: auto}*/
	#popup-overlay, div.submenu-overlay {z-index: 31}

	.career-block {width: 360px; float: left;}
	
	#popup .popup-container .shop-discount.cat-action .ca-text {width: 635px;}
	#popup .about-shop p img, .white-block p img {max-width: 635px;}
	.hide-on-tablet, .shop-common {display: none}
	.career-row-image {float: initial; text-align: center}
}