body {margin: 0; padding: 0; text-align: center; font-family: 'Roboto', sans-serif; color: #27303E; font-size: 75%; font-weight: 400; background-color: #F4F2EC}
a {color: #27303E; outline: 0}
a img {border: none}
map area {outline: 0}


.head {background-color: #000000; color: #FFFFFF; line-height: 1.3em; text-transform: uppercase; font-size: 110%; position: relative; z-index: 55}
.head a {color: #FFFFFF; text-decoration: none}
.head-in {margin: 0 auto; text-align: left; width: 950px}
.head-right {float: right}
.search-link {display: inline-block;  background: url("../images/ico_search.png") 90px 12px no-repeat; padding: 12px 45px 12px 22px; float: right}
.language {float: right; margin: 0; padding: 0}
.language li {display: inline-block; list-style-type: none}
.language li a {padding: 12px 15px; display: inline-block}
.language li.active a {background-color: #18202A}
.forum-tv-link {display: inline-block; padding: 12px 25px 12px 50px; background: url("../images/head_ico1.png") 23px 14px no-repeat; vertical-align: top}
.be-in-link {display: inline-block; padding: 12px 25px 12px 50px; background: url("../images/head_ico2.png") 25px 16px no-repeat; vertical-align: top}
.search-link:hover, .forum-tv-link:hover, .be-in-link:hover, .language li a:hover {background-color: #18202A}

.menu-whole {background-color: #18202A; color: #FFFFFF; text-transform: uppercase; line-height: 1.3em; font-family: 'Roboto Slab', serif; font-size: 120%; font-weight: 700}
.menu-whole a {color: #FFFFFF}
.menu-in {width: 950px; text-align: center; margin: 0 auto; position: relative; z-index: 50; height: 72px}
.menu {margin: 0; padding: 0}
.menu li {list-style-type: none; display: inline-block; float: left; height: 72px}
.menu li > a {display: inline-block; padding: 27px 22px 27px 23px; text-decoration: none; height: 17px}
.menu-logo {margin-right: 200px}
.logo {display: inline-block; background: url("../images/logo-02.png?v=1") left top no-repeat; width: 130px; height: 33px; position: absolute; left: 410px; top: 20px}
.menu li:hover > a, .menu li.active > a {background-color: #29323D}
.menu li.with-submenu:hover > a {background-color: #F4F2EC; color: #18202A; border-bottom: 1px solid #E5E4DF}
.submenu {display: none; position: absolute; top: 72px; left: -15px; width: 960px; padding: 20px 0 10px 20px; background-color: #F4F2EC; text-align: left}
.menu li.with-submenu:hover .submenu {display: block}
.submenu a {display: inline-block; vertical-align: top; width: 220px; margin: 0 16px 15px 0; text-decoration: none; text-transform: uppercase; line-height: 1.3em; font-family: 'Roboto Slab', serif; font-size: 105%; font-weight: 700; text-align: center; color: #18202A}

.submenu.shops {
	width: 937px;
	padding-right: 20px;
}

.submenu .shop-items a {
	margin-right: 15px;
}

.submenu .shop-items a:last-child {
	margin-right: 0;
}

.shop-category-list {
	margin-bottom: 20px;
	border-bottom: 1px solid #CBC3B2;
}

.shop-category-list a {

	display: inline-block;
	vertical-align: top;
	width: calc(25% - 17px);
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-align: center;
	color: #18202A;

	line-height: 40px;
	font-size: 13px;
	margin: 0 12px 15px 0;
	border: 1px solid #CBC3B2;
	padding: 10px 0 10px 0;
	box-sizing: border-box;
	height: 60px;
	background-color: white;

}

.shop-category-list{
	width: calc(100% + 12px);
}

.shop-category-list a:hover {
	border-color: #90856e;
}
/*
.menu .shop-category-list a:nth-child(4n+4) {
	margin-right: 0;
}

.shop-category-list a.endline {
	margin-right: 0;
}
*/

.submenu .shop-items a:nth-child(4n+4) {
	margin-right: 0;
	margin-left: 1px;
}

.shop-category-list a.multi-line {

	line-height: 19px;
}

.submenu-image {display: block; padding: 8px; background-color: #FFFFFF; border: 1px solid #EAE7E0; margin-bottom: 15px}
.submenu-image img {display: block}
.submenu a:hover .submenu-image {border: 1px solid #CCC4B4}
.submenu a .submenu-text {display: inline-block; padding-bottom: 5px}
.submenu a:hover .submenu-text {padding-bottom: 4px; border-bottom: 1px solid #CBC3B2}
.menu-mobile-link {display: none}

/* Slider */
.slider-whole {background: #FBC509 url("../images/bg_slider.png") center top no-repeat; height: 378px; overflow: hidden; margin-bottom: 10px; width: 100%}
.slider-in {margin: 0 auto; text-align: left; width: 950px; position: relative; z-index: 40}
.slider {margin: 0; padding: 0; width: 100%; height: 378px; position: relative; z-index: 30}
.slider li {list-style-type: none; width: 100%; height: 378px}
.slider li a {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.slider li a > img {
	height: 100%;
	position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
}
.slider li a > img.big {display: inline-block;}
.slider li a > img.mid {display: none}
.slider li a > img.small {display: none}

.slide-logos {position: absolute; right: 15px; top: 30px}
.slider-arrow {display: inline-block; background: url("../images/slider_arrow.png") center bottom no-repeat; width: 363px; height: 298px; padding: 70px 30px 0 30px; text-align: center}
.slider-arrow strong {display: block; font-size: 430%; text-transform: uppercase; line-height: 1.2em; font-family: 'Roboto Slab', serif; font-weight: 700; color: #01B2C4; margin-bottom: 20px}
.slider-arrow span {font-size: 150%; line-height: 1.3em; color: #27303E; padding-right: 17px; background: url("../images/arrow_blue.png") right 30px no-repeat; display: inline-block; font-weight: 300}
.slider-nav {position: absolute; z-index: 40; width: 100%; bottom: 20px; left: 0; text-align: center}
.slider-nav a {display: inline-block; vertical-align: top; background: url("../images/slider_nav.png") left top no-repeat; width: 10px; height: 10px; margin: 0 2px}
.slider-nav a.active {background: url("../images/slider_nav-active.png") left top no-repeat}
.slider-box {position: absolute; z-index: 35; right: 15px; bottom: 25px; width: 245px}
.sb-link {display: block; padding: 12px 20px 14px 20px; height: 17px; background: rgba(24,32,42,0.9) url("../images/arrow_up.png") 220px center no-repeat; color: #FFFFFF; line-height: 1.3em; font-family: 'Roboto Slab', serif; font-size: 120%; font-weight: 700; text-decoration: none}
.sb-link.active {background: rgba(24,32,42,0.95) url("../images/arrow_down.png") 220px center no-repeat}
.slider-box-in {position: absolute; left: 0; width: 100%; bottom: 43px; background: rgba(24,32,42,0.8); display: none}
.slider-box:hover .slider-box-in {display: block}
.slider-box-in a {display: block; padding: 12px 20px 14px 20px; color: #FFFFFF; line-height: 1.3em; font-family: 'Roboto Slab', serif; font-size: 120%; font-weight: 700; text-decoration: none}
.slider-box-in a:hover {background-color: #18202A}

.main {width: 980px; margin: 0 auto; text-align: left}
.logos {margin-bottom: 10px; text-align: center; background-color: #18202A; padding: 10px 0; overflow: hidden; white-space: nowrap}
.logos a {display: inline-block; margin: 0 11px; vertical-align: middle}
.logos a img {display: block}

.white-block {background-color: #FFFFFF; padding: 20px; margin-bottom: 10px; border: 1px solid #EAE7E0}
.action-h {background-color: #F6F6F6; margin-bottom: 20px; text-align: center; padding: 20px 40px; position: relative; z-index: 30}
.action-h .show-all {display: inline-block; font-family: 'Roboto Slab', serif; font-weight: 700; color: #01B2C4; padding-right: 15px; background: url("../images/arrow_blue-small.png") right 5px no-repeat; font-size: 110%; text-decoration: none; position: absolute; right: 40px; top: 25px}
.action-h h2 {margin-bottom: 10px; display: inline-block; line-height: 1.2em; margin: 0; font-size: 220%; color: #353E4B; text-transform: uppercase; font-family: 'Roboto Slab', serif; font-weight: 700}

.action-h a h2:hover {text-decoration: underline}

.categories h2{
	font-size: 150%;
}

.categories .action-h{
	text-align: left;
	margin-bottom: 10px;
	border: 1px solid #bbbbbb;
}


.action-slider {margin: 0 0 33px 0; padding: 0; width: 960px; float: left}
.action-slider li {list-style-type: none; display: inline-block; width: 300px; margin-right: 18px; float: left; text-align: center}
.action-slider li a {display: block; text-decoration: none; line-height: 1.3em; font-size: 110%}
.action-slider li:hover {text-decoration: underline}
.action-image {display: block; border: 1px solid #EAE7E0; padding: 8px; margin-bottom: 12px}
.action-slider li:hover .action-image {border: 1px solid #CBC3B2}
.action-image img {display: block; width: 100%; height: 188px}
.action-name {display: block; margin-bottom: 2px}
.action-date {display: block; margin-bottom: 7px; color: #95A1B1}
.action-more {display: inline-block; font-family: 'Roboto Slab', serif; font-weight: 700; color: #01B2C4; padding-right: 15px; background: url("../images/arrow_blue-small.png") right 5px no-repeat}
.action-slider li:hover .action-name, .action-slider li:hover .action-date, .action-slider li:hover .action-more {text-decoration: underline}
.action-slider-nav {text-align: center; margin-bottom: 5px}
.action-slider-nav a {display: inline-block; vertical-align: top; background: url("../images/slider_nav2.png") left top no-repeat; width: 10px; height: 10px; margin: 0 2px}
.action-slider-nav a.active {background: url("../images/slider_nav2-active.png") left top no-repeat}

.green-block {margin-bottom: 10px; background-color: #BBC867; text-align: center; border: 9px solid #B3C05F; color: #FFFFFF; line-height: 1.3em; padding: 15px}
.gb-text {display: inline-block; vertical-align: middle; text-align: right; margin-right: 20px}
.gb-text strong {display: block; font-weight: 700; line-height: 1.3em; font-family: 'Roboto Slab', serif; font-size: 150%; text-transform: uppercase; margin-bottom: 3px}
.gb-button1, .gb-button2 {display: inline-block; vertical-align: middle; margin-right: 10px; font-size: 120%; color: #FFFFFF; text-decoration: none; font-family: 'Roboto Slab'; font-weight: 700; padding: 12px 15px 12px 40px; border-radius: 2px}
.gb-button1 {background: #A7B455 url("../images/ico_email.png") 15px center no-repeat}
.gb-button2 {background: #A7B455 url("../images/ico_facebook.png") 15px center no-repeat}

.centrum-shops {background: url("../images/bg_shops.jpg") center top no-repeat; text-align: center; padding: 25px 20px 30px 20px;}
.centrum-shops h2 {line-height: 1.2em; margin: 0 0 15px 0; font-size: 220%; color: #353E4B; text-transform: uppercase; font-family: 'Roboto Slab', serif; font-weight: 700}
.centrum-shops a {text-decoration: none}
.centrum-shops .butt {display: inline-block; font-family: 'Roboto Slab', serif; font-weight: 700; color: #01B2C4; padding: 8px 20px 8px 20px; background: #FFFFFF; font-size: 110%; text-decoration: none}
.centrum-shops .find-shop {color: #01B2C4;}
.centrum-shops .all-shops {background-color: #bac867; color: white; margin-left: 10px}
.centrum-shops .find-shop.close {background: #FFFFFF url("../images/ico_close.png") right 13px no-repeat; padding-right: 37px}
.centrum-shops form {margin: 0 auto; padding-top: 40px; height: 240px; width: 460px; text-align: left}
.centrum-shops .search-inputs {border-radius: 3px; border: 1px solid #D9D9D9; background-color: #FFFFFF; padding: 8px 12px 8px 15px; margin-bottom: 20px}
.centrum-shops .search-inputs input[type=text] {padding: 0; width: 412px; height: 17px; vertical-align: middle; border: none; font-family: 'Roboto', serif; color: #27303E; font-size: 100%}
.centrum-shops .search-inputs input[type=submit] {vertical-align: middle; cursor: pointer; border: none; background: url("../images/ico_search2.png") left top no-repeat; width: 18px; height: 19px}
.search-links div {margin:  0 0 15px 5px}
.search-links div a {display: inline-block; font-family: 'Roboto Slab', serif; font-weight: 700; color: #01B2C4; padding-right: 15px; background: url("../images/arrow_blue-small.png") right 5px no-repeat; text-decoration: none}

.shop-actions {text-align: center; position: relative; z-index: 30; width: 960px}
.shop-actions .show-all {display: inline-block; font-family: 'Roboto Slab', serif; font-weight: 700; color: #01B2C4; padding-right: 15px; background: url("../images/arrow_blue-small.png") right 5px no-repeat; font-size: 110%; text-decoration: none; position: absolute; right: 40px; top: 0}
.shop-actions h3 {line-height: 1.2em; margin: 0 0 30px 0; font-size: 150%; color: #353E4B; text-transform: uppercase; font-family: 'Roboto Slab', serif; font-weight: 700}
.shop-action {display: inline-block; text-decoration: none; color: #FFFFFF; line-height: 1.3em; vertical-align: top; width: 280px; margin: 0 15px 0 0; position: relative; z-index: 30; border: 1px solid #EAE7E0; padding: 8px}
.shop-action:hover {border: 1px solid #CBC3B2}
.shop-action-image {display: block; position: relative}
.shop-action-image img {display: block; width: 100%}
.shop-action-image span {display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url("../images/shop_action-cover.png") left top repeat}
.shop-action:hover .shop-action-image span {background-image: none; background-color: #18202A}
.shop-action-text {position: absolute; display: block; left: 5%; top: 75px; width: 95%; font-size: 110%}
.sa-name {display: block; margin-bottom: 2px}
.sa-date {display: block; margin-bottom: 10px; color: #95A1B1}
.sa-action {display: inline-block; font-family: 'Roboto Slab', serif; font-weight: 700; padding-right: 15px; background: url("../images/arrow_white.png") right 5px no-repeat}

.socials-whole {width: 960px}
.social {display: inline-block; vertical-align: top; margin: 0 15px 18px 0; border: 1px solid #EAE7E0; padding: 8px; position: relative; z-index: 30}
.social-image {display: block; position: relative; overflow: hidden; height: 235px}
.social-image img {display: block; width: 100%}
.social-image-bottom {position: absolute; left: 0; bottom: 0; width: 100%; height: 95px; background: url("../images/social_image-bottom.png") left bottom repeat-x}
.social:hover .social-image-cover {display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/social_image-cover.png") left top repeat}
.social-content {display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; color: #FFFFFF; line-height: 1.5em; text-align: center}
.social-ico {position: absolute; right: 16px; top: 16px}
.follow {display: inline-block; margin-top: 18px; background: url("../images/follow.png") left top no-repeat; width: 68px; height: 23px}
.like {display: inline-block; margin-top: 20px; background: url("../images/fb_like.png") left top no-repeat; width: 92px; height: 20px}
.play {display: inline-block; margin-top: 80px; background: url("../images/ico_play.png") left top no-repeat; width: 62px; height: 44px}
.social-text {position: absolute; left: 0; bottom: 23px; width: 100%; font-size: 105%}
.soc3-right {vertical-align: top; display: inline-block; width: 290px; position: relative; z-index: 28}
.soc3-right .social-ico {top: 8px; right: 8px}
.soc3-left {display: inline-block; vertical-align: top; float: left; width: 280px; position: relative; z-index: 30; padding: 15px; background-color: #F8F7F3; text-align: center; height: 205px}
.soc3-left .like {margin: 0 0 15px 0}
.soc-arrow {position: absolute; top: 35px; right: -10px; width: 10px; height: 20px; background: url("../images/soc_arrow.png") right center no-repeat; display: inline-block}
.soc3-left-text {display: block; font-family: 'Roboto Slab', serif; font-weight: 700; line-height: 1.6em; text-transform: uppercase; font-size: 105%; color: #27303E; margin: 0 15px}
.soc3-left-name {display: block; width: 100%; position: absolute; left: 0; bottom: 20px; font-size: 105%}
.soc3:hover .soc3-left {background-color: #F0EEE7}
.soc3:hover .soc3-left .soc-arrow {background-image: url("../images/soc_arrow-hover.png")}
.load-more {text-align: center; padding: 5px 0 10px 0;}
.load-more a {font-family: 'Roboto Slab', serif; font-weight: 700; color: #01B2C4; text-decoration: none; font-size: 115%; line-height: 1.3em}
.load-more a span {margin-left: 3px; font-size: 160%}

.yellow-block {margin-bottom: 10px; border: 1px solid #D2C269}
.yellow-block-in {background-color: #DCCA68; text-align: center; border: 9px solid #E5D476; color: #FFFFFF; line-height: 1.3em; padding: 15px}
.yellow-block-in .gb-text {display: inline-block; vertical-align: middle; text-align: right; margin-right: 25px}
.yellow-block-in .gb-text strong {display: block; font-weight: 700; line-height: 1.3em; font-family: 'Roboto Slab', serif; font-size: 150%; text-transform: uppercase; margin-bottom: 3px}
.s1, .s2, .s3 {display: inline-block; vertical-align: middle; margin: 0 5px; width: 48px; height: 48px}
.s1 {background: url("../images/s1.png") left top no-repeat}
.s2 {background: url("../images/s2.png") left top no-repeat}
.s3 {background: url("../images/s3.png") left top no-repeat}

.popup-whole {width: 980px}
.popup-whole .right {text-align: right; margin-bottom: 25px}
.popup-close {display: inline-block; background: url("../images/ico_close2.png") left top no-repeat; width: 20px; height: 20px}
.popup-form {margin: 0; padding: 20px 20px 60px 20px; background-color: #F4F2EC}
.popup-h {background-color: #ECE9DF; padding: 15px; line-height: 1.2em; margin: 0 0 15px 0; font-size: 210%; color: #353E4B; text-transform: uppercase; font-family: 'Roboto Slab', serif; font-weight: 700; margin-bottom: 25px}
.popup-form p {margin: 0 auto 20px auto; line-height: 1.6em; width: 350px}
.fb-login {margin-bottom: 20px; display: inline-block; color: #FFFFFF; font-family: 'Roboto Slab', serif; font-weight: 700; font-size: 120%; line-height: 1.3em; text-decoration: none; background: #5574B4 url("../images/ico_facebook.png") 15px 10px no-repeat; padding: 10px 15px 10px 35px; border-radius: 2px}
.popup-inputs input[type=text] {background-color: #FFFFFF; width: 286px; height: 17px; padding: 9px 12px; border: 1px solid #D9D9D9; border-radius: 3px; vertical-align: middle; font-family: 'Roboto', serif; color: #27303E; font-size: 100%}
.popup-inputs input[type=submit], .comp-right input[type=submit], .popup-inputs input[type=button], .comp-right input[type=button] {width: auto; display: inline-block; border: none; border-radius: 3px; cursor: pointer; vertical-align: middle; background: #01B2C4 url("../images/arrow_send.png") right center no-repeat; height: 38px; padding-left: 15px; padding-right: 25px; font-family: 'Roboto Slab', serif; font-weight: 700; color: #FFFFFF; font-size: 105%}
.comp-whole {background-color: #F8F7F3; border: 1px solid #EAE7E0; border-radius: 1px}
.comp-left {background-color: #FFFFFF; float: left; width: 315px; padding: 40px 30px 40px 30px; text-align: center; border-right: 1px solid #EAE7E0; color: #353E4B}
.comp-left h2 {font-size: 420%; text-transform: uppercase; font-family: 'Roboto Slab', serif; font-weight: 700; line-height: 1.1em; margin: 0 0 15px 0; color: #01B2C4}
.comp-left p {line-height: 1.6em; margin: 0 20px 30px 20px; width: auto; font-size: 105%}
.comp-left img {position: relative; z-index: 30; left: -20px}
.comp-right {float: left; padding: 30px 20px 15px 30px; width: 500px; text-align: left; color: #27303E}
.comp-right a {color: #27303E}
.comp-right label {display: inline-block; line-height: 1.4em; font-size: 105%; vertical-align: middle; margin-right: 15px; margin-bottom: 10px}
.comp-right > div {margin-bottom: 5px}
.comp-right p {width: auto; margin: 0 0 15px 0}
.label-input {display: inline-block; vertical-align: top; width: 240px; margin: 0 8px 10px 0}
.label-input label {display: block}
.comp-right input[type=text] {background-color: #FFFFFF; width: 214px; height: 17px; padding: 9px 12px; border: 1px solid #DBDBDB; border-radius: 3px; vertical-align: middle; font-family: 'Roboto', serif; color: #B7B8B8; font-size: 100%}
.comp-right h3 {margin: 0 0 10px 0; line-height: 1.4em; font-size: 105%; font-weight: 400}
.check-whole {white-space: nowrap}

.footer {padding: 40px 20px 20px 20px; color: #83827D; font-size: 105%}
.footer a {text-decoration: none; color: #5C5A55; font-weight: 700; font-family: 'Roboto Slab', serif}
.footer-col1 {float: left; width: 230px; margin-right: 40px}
.footer h3 {font-weight: 700; font-family: 'Roboto Slab', serif; line-height: 1.3em; font-size: 105%; text-transform: uppercase; margin: 0 0 25px 0}
.footer p {line-height: 1.5em; font-weight: 300; margin: 0 0 20px 0}
.footer-col2 {float: left; width: 170px; margin: 0 35px 20px 0}
.iphone, .android {display: inline-block; vertical-align: top; margin-right: 15px; width: 64px; padding-top: 75px; text-align: center}
.iphone {background: url("../images/iphone.png") center top no-repeat}
.android {background: url("../images/android.png") center top no-repeat}
.footer-col3 {float: left; width: 320px}
.footer-col3 ul {float: left; margin: 0 5px 20px 0; padding: 0; width: 150px}
.footer-col3 ul li {list-style-type: none; padding-left: 15px; background: url("../images/arrow_grey.png") left 5px no-repeat; line-height: 1.4em; margin-bottom: 18px}
.footer-col4 {float: left; width: 145px}
.footer-col4 p {margin-bottom: 25px !important}
.footer-mobile {display: none}

.copyright {border-top: 1px solid #EBE9E3; padding: 30px 0; margin: 0 20px; font-size: 105%; line-height: 1.3em; color: #83827D; font-weight: 300}
.copyright a {text-decoration: none; color: #83827D}
.made-by {float: right}
.copyright-left {float: left}
.copyright-middle {text-align: center; color: #5C5A55; font-weight: 700; font-family: 'Roboto Slab', serif}
.copyright-middle a {color: #5C5A55}
.copyright-middle span {margin: 0 8px}


.fix {clear: both}

.checker {width:20px !important;  height:18px;  line-height: 18px;  margin: 0 7px 10px 0 !important;  display:inline-block;  position:relative;  vertical-align:middle;  background-color: #FFFFFF; border-radius: 3px; border: 1px solid #DDDDDD}
.checker span{display:inline-block;  position:absolute;  left:0;  top:0;  width:20px;  height:18px; z-index: 25}
.checker input{opacity:0;  filter:alpha(opacity=0);  -moz-opacity:0;  border:none;  background:none;  display:-moz-inline-box;  display:inline-block;  *display:inline;  zoom:1; width: 20px !important; height: 18px !important; margin: 0 !important}
.checked{background: #FFFFFF url("../images/checked.png") center center no-repeat}
.radio {width:23px !important;  height:23px;  line-height: 23px;  margin: 0 7px 10px 0 !important;  display:inline-block;  position:relative;  vertical-align:middle; background: url("../images/radio.png") left top no-repeat; border: none}
.radio span{display:inline-block;  position:absolute;  left:0;  top:0;  width:23px;  height:23px; z-index: 25}
.radio input{opacity:0;  filter:alpha(opacity=0);  -moz-opacity:0;  border:none;  background:none;  display:-moz-inline-box;  display:inline-block;  *display:inline;  zoom:1; width: 23px !important; height: 23px !important; margin: 0 !important}
.radio .checked{background: url("../images/radio_checked.png") center center no-repeat}

/* podstranky */
.top-image {position: relative; z-index: 30; height: 160px; overflow: hidden; margin-bottom: 20px}
.top-image img {display: block; width: 100%; position: absolute; z-index: 20; left: 0; top: 0}
.top-image > span {position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/top_image-cover.png") left top repeat; z-index: 25}
.top-image h1 {text-transform: uppercase; font-size: 290%; line-height: 1.3em; color: #FFFFFF; margin: 57px 0 0 0; display: inline-block; font-weight: 700; font-family: 'Roboto Slab', serif; position: relative; z-index: 30}
.top-image-in {position: relative; z-index: 30; width: 980px; margin: 0 auto}
.sort {margin-bottom: 20px; border: 1px solid #DDD9CD; background-color: #E7E5DD; height: 57px}
.sort-right {float: right; width: 130px; height: 37px; padding: 10px 0; text-align: center; border-left: 1px solid #DDD9CD}

.sort1, .sort2 {display: inline-block; vertical-align: middle; /*width: 54px; */border: 1px solid #E7E5DD; height: 37px; padding-left: 10px; padding-right: 10px;}
.sort1 {background: url("../images/ico_sort1.png") center center no-repeat}
.sort1.text {background-color: #F7F7F7; background-image: none; font-weight: 700; color: #A7A59F; line-height: 1.3em; padding-top: 11px; height: 26px; text-decoration: none}
.sort2 {background: url("../images/ico_sort2.png") center center no-repeat}
.sort1.active, .sort1:hover, .sort2.active, .sort2:hover {background-color: #FFFFFF; border: 1px solid #bbbbbb}
.sort-left {float: left; width: 847px}
.sort-links {float: left; width: 354px}
.sort-links a {display: inline-block; vertical-align: top; height: 40px; padding-top: 17px; text-decoration: none; color: #18202A; line-height: 1.3em; text-align: center; border-left: 1px solid #E7E5DD; border-right: 1px solid #E7E5DD; font-weight: 700; font-family: 'Roboto Slab', serif; font-size: 120%}
.sort-links .sl1 {width: 64px}
.sort-links .sl2 {width: 89px}
.sort-links .sl3 {width: 95px}
.sort-links a:hover, .sort-links a.active {background-color: #FFFFFF; border-left: 1px solid #DDD9CD; border-right: 1px solid #DDD9CD}
.sort-links a.sl1:hover, .sort-links a.sl1.active {border-left: 1px solid #FFFFFF}
.sort form {height: 57px; float: left; width: 492px}
.sort form div {width: 430px; height: 17px; padding: 20px 20px 20px 42px; background: url("../images/ico_search3.png") 20px center no-repeat}
.sort form input[type=text] {width: 430px; height: 17px; padding: 0; border: none; background-color: transparent; font-size: 100%; font-family: "Roboto", sans-serif; color: #898780}
.shop-actions.sub .shop-action {margin-bottom: 20px}
.cat-action {margin-bottom: 20px}
.ca-image {display: block; border: 1px solid #EAE7E0; padding: 8px; float: left; width: 280px; margin-right: 20px; overflow: hidden}
.ca-image:hover {border: 1px solid #CBC3B2}
.ca-image img {display: block}
.ca-text {float: left; width: 550px; padding-top: 15px}
.ca-text h3 {text-transform: uppercase; margin: 0 0 18px 0; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.ca-text h3 a {text-decoration: none; color: #353E4B}
.ca-text h3 a:hover {text-decoration: underline}
.ca-text p {line-height: 1.7em; margin: 0 0 15px 0; font-size: 105%}
.ca-text .action-more {text-decoration: none}
.ca-text .action-more:hover {text-decoration: underline}
.cat-action:last-child {margin-bottom: 0}
.load-more.mobile {display: none}

.top-image.higher {height: 220px}
.back-list {display: inline-block; position: absolute; left: 0; top: 72px; padding-left: 15px; background: url("../images/arrow_back.png") left 3px no-repeat; line-height: 1.3em; text-decoration: none; color: #FFFFFF; font-weight: 700; font-family: 'Roboto Slab', serif}
.top-image.higher h1 {margin: 57px 105px 15px 105px}
.ti-button1, .ti-button2 {display: inline-block; line-height: 1.3em; text-decoration: none; color: #FFFFFF; font-weight: 700; font-family: 'Roboto Slab', serif; vertical-align: top; padding: 10px 20px 10px 50px; border-radius: 2px; margin: 0 3px 8px 3px}
.ti-button1 {background: #BBC867 url("../images/ico_present.png") 18px center no-repeat}
.ti-button2 {background: #E4D373 url("../images/ico_map.png") 20px center no-repeat; padding-left: 45px}
.ti-button1:hover {background-color: #A9B559}
.ti-button2:hover {background-color: #D1C060}
.shop-info {text-align: center; background-color: #F6F6F6; padding: 25px 0 1px 0}
.shop-info-col {float: left; width: 21%; margin: 0 2%}
.shop-info-col strong {font-weight: 700}
.shop-info-col .si-block {line-height: 1.4em; padding-bottom: 18px}
.shop-info-col .si-block div {margin-bottom: 8px}
.shop-info-col .si-block div.ti-button1-large {font-size: 150%}
.shop-info-col .si-block div:last-child {position: relative; top: -3px}
.shop-info-col a {text-decoration: none; font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4}
.open-time {padding-top: 65px; background: url("../images/ico_clock.png") center top no-repeat}
.facebook-links {float: right; padding-top: 2px; margin-left: 10px}
.action-ico {float: left; margin-right: 10px}
.cat-actions.ca2 .ca-text {width: 575px}
.cat-actions.ca2 .cat-action {margin-bottom: -1px; padding: 20px; border: 1px solid #EBE8E2}
.cat-actions.ca2 .ca-text p {margin: 0 0 10px 0}
.cat-actions.ca2 .ca-image:hover {border: 1px solid #EAE7E0}
.shop-image {float: right; background-color: #FFFFFF; width: 300px; padding: 20px; border: 1px solid #EBE8E1; margin-bottom: 10px}
.shop-image span {display: block; border: 1px solid #EAE7E0; padding: 8px; overflow: hidden}
.shop-image span img {display: block}
.about-shop {float: left; width: 557px; padding: 35px; background-color: #FFFFFF; border: 1px solid #EBE8E1; margin-bottom: 10px}
.about-shop h3 {margin: 0 0 20px 0; line-height: 1.3em; text-transform: uppercase; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.about-shop p {line-height: 1.6em; margin: 0 0 15px 0; font-size: 105%}
.read-more {text-decoration: none; font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4; line-height: 1.4em; padding-right: 17px; background: url("../images/arrow_blue-down.png") right 7px no-repeat}

.shop-list {padding-top: 15px}
.shop-list-col {float: left; width: 22%; margin-right: 3%; padding: 0 0 5px 0}
.shop-list-col h2 {margin: 0 0 10px 20px; line-height: 1.3em; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.shop-list-col h2:not(:first-of-type) {margin-top: 10px}
.shop-list-col ul {margin: 0; padding: 0 0 0 0}
.shop-list-col ul li {list-style-type: none}

/*
.shop-list-col ul li a {display: block; text-decoration: none; line-height: 1.5em; padding: 10px 20px; border: 1px solid #FFFFFF}
.shop-list-col ul li a span {display: inline-block; vertical-align: top; width: 25%}
.shop-list-col ul li a strong {font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4; display: inline-block; vertical-align: top; width: 70%}
.shop-list-col ul li a:hover {border: 1px solid #EAE7E0; background: url("../images/arrow_list.png") right 14px no-repeat}
.shop-list-col ul li a:hover strong {text-decoration: underline}
*/                                                    

.shop-list-col ul li .item {display: block; text-decoration: none; line-height: 1.5em; padding: 10px 20px; border: 1px solid #FFFFFF}
.shop-list-col ul li .item span {display: inline-block; vertical-align: top; width: 35%}
.shop-list-col ul li .item strong {font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4; display: inline-block; vertical-align: top; width: 59%}
.shop-list-col ul li .item:hover {border: 1px solid #EAE7E0; background: url("../images/arrow_list.png") right 14px no-repeat}
.shop-list-col ul li .item:hover strong {text-decoration: underline}


.shop-list-col ul li .item span:nth-of-type(1) a {text-decoration: none; border-radius: 3px; padding: 5px; border: 1px solid #F0F0F0; background-color: #F0F0F0;}
.shop-list-col ul li .item span:nth-of-type(1) a:hover {border: 1px solid #E0E0E0;}
.shop-list-col ul li .item strong a {text-decoration: none}
.shop-list-col ul li .item strong a:hover {text-decoration: underline}


.shop-list-act .shop-action {height: 115px; overflow: hidden}
.shop-list-act .shop-action .shop-action-text {top: 40px}
.shop-list-act .shop-action .shop-action-image {height: 115px; overflow: hidden}
.show-all-center {text-align: center; padding: 5px 0}
.show-all-center a {text-decoration: none; font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4; line-height: 1.4em; padding-right: 17px; background: url("../images/arrow_blue-down.png") right 7px no-repeat}

.shop-list-col-contact {width: 100%}
.main ul li.contact {display: block; line-height: 1.5em; padding: 3px 0px;}
.fun.service ul {padding: 0; float: left; margin: 0 20px 0 0;}
.fun.service ul li {font-size: 120%; list-style-type: none; width: 340px; padding: 3px 6px; border: solid 1px white;}
.fun.service ul li:hover {border: solid 1px #eae7e0; text-decoration: underline;}

.shop-list-col ul li .item strong.contact {width: 32%}
.shop-list-col ul li .item span.contact {width: 5%; margin-right: 20px}


.shop-list-col ul li span.contact-tel {width: 18%; display: inline-block; font-size: smaller}
.shop-list-col ul li span.contact-mail {width: 39%; display: inline-block; font-size: smaller}

.shop-list-col-contact {width: 100%}
.shop-list-col ul li a.contact {/*display: inline*/}
.main ul li.contact {display: block; line-height: 1.5em; padding: 3px 0px;}
.shop-list-col ul li a strong.contact {width: 32%}
.shop-list-col ul li a span.contact {width: 5%}
.shop-list-col ul li span.contact-tel {width: 18%; display: inline-block; font-size: smaller}
.shop-list-col ul li span.contact-mail {width: 39%; display: inline-block; font-size: smaller}

.sort.s-search form {width: 100%}
.sort.s-search form div {width: auto}
.sort.s-search form input[type=text] {width: 100%}
.search-result {padding: 25px 30px; margin-bottom: -1px; border: 1px solid #EBE8E2}
.search-result a {text-decoration: none}
.search-result p {line-height: 1.6em; margin: 0 0 3px 0; font-size: 105%}
.search-result h3 {font-weight: 700; font-family: 'Roboto Slab', serif; text-transform: uppercase; line-height: 1.3em; font-size: 150%; margin: 0 0 10px 0; color: #353E4B}
.search-result h3 a {color: #353E4B}
.load-more.pad {padding-top: 25px}
.fun {display: inline-block; vertical-align: top; margin: 0 3px 10px 3px; text-decoration: none; background-color: #FFFFFF; border: 1px solid #EBE8E1; width: 440px; padding: 20px}
.fun-image {display: inline-block; padding: 8px; background-color: #FFFFFF; border: 1px solid #EAE7E0; vertical-align: top; margin-right: 30px; width: 202px; overflow: hidden}
.fun-image img {display: block; width: 100%}
.fun-text {display: inline-block; vertical-align: top; width: 170px; padding-top: 10px}
.fun-title {display: block; line-height: 1.3em; font-size: 220%; text-transform: uppercase; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B; margin-bottom: 10px}
.fun-p {display: block; line-height: 1.5em; margin: 0 0 15px 0; font-size: 105%}
.fun:hover {border: 1px solid #CDC6B5}
.fun:hover .fun-title, .fun:hover .action-more {text-decoration: underline}

.map-whole {position: relative; z-index: 30}
.map {text-align: center; padding: 100px 0 50px 0}
.map-nav {margin: 0; padding: 0; position: absolute; left: 20px; top: 20px}
.map-nav li {display: block; list-style-type: none; width: 132px; height: 41px; background: url("../images/bg_floor.png") left top no-repeat; margin-bottom: -1px; position: relative; z-index: 25}
.map-nav li a {text-decoration: none; font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4; line-height: 1.4em; padding: 12px 15px; height: 17px; width: 85px; display: inline-block}
.map-nav li.active, .map-nav li:hover {background-image: url("../images/bg_floor-active.png"); z-index: 30}
.map-nav li.active a, .map-nav li:hover a {background: url("../images/arrow_blue-small.png") right center no-repeat}
.map-info {background-color: #F6F6F6; padding: 20px 20px 30px 30px}
.floor {display: inline-block; vertical-align: top; font-weight: 700; font-family: 'Roboto Slab', serif; font-size: 220%; line-height: 1em; color: #D2D2D2; width: 100px; margin-right: 120px}
.floor span {display: block; font-size: 370%; line-height: 1em}
.map-icos {display: inline-block; vertical-align: top; width: 650px; padding-top: 12px}
.map-icos span {display: inline-block; padding: 17px 0 17px 55px; line-height: 1.3em; width: 155px; margin-bottom: 10px}
.map-ico1 {background: url("../images/map_ico1.png") left center no-repeat}
.map-ico2 {background: url("../images/map_ico3.png") left center no-repeat}
.map-ico3 {background: url("../images/map_ico5.png") left center no-repeat}
.map-ico4 {background: url("../images/map_ico2.png") left center no-repeat}
.map-ico5 {background: url("../images/map_ico4.png") left center no-repeat}
.map-ico6 {background: url("../images/map_ico6.png") left center no-repeat}

.news-top {background: #FBC509 url("../images/bg_slider.png") center top no-repeat; height: 378px; overflow: hidden; width: 100%}
.news-top-in {margin: 0 auto; text-align: left; width: 950px; position: relative; z-index: 40}
.news-top-in a {display: block; text-decoration: none}
.news-top-in a > img {float: right; margin: 30px 80px 0 0}
.news-top-in .slider-arrow {margin-left: 20px}
.ca3 .ca-text {width: 610px; padding-top: 10px}
.ca3 .action-ico {float: right; margin: 0 0 0 10px}
.act-type {line-height: 1.5em; font-size: 105%; margin-bottom: 5px; color: #8B8F96}
.ca3 .cat-action {margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #EAE7E0}
.news-sort .sort-right {width: auto; padding: 0; height: 57px}
.news-sort .sort-right a {display: inline-block; vertical-align: top; height: 40px; padding: 17px 27px 0 27px; text-decoration: none; color: #18202A; line-height: 1.3em; text-align: center; border-left: 1px solid #E7E5DD; border-right: 1px solid #E7E5DD; font-weight: 700; font-family: 'Roboto Slab', serif; font-size: 120%}
.news-sort .sort-right a:hover, .news-sort .sort-right a.active {background-color: #FFFFFF; border-left: 1px solid #DDD9CD; border-right: 1px solid #DDD9CD}
.news-sort .sort-right a:first-child:hover, .news-sort .sort-right a:first-child.active {border-left: 1px solid #FFFFFF}
.news-sort .sort-right a:last-child:hover, .news-sort .sort-right a:last-child.active {border-right: 1px solid #FFFFFF}
.news-sort .sort-left, .news-sort .sort-left .sort-links {width: auto}
.news-sort .sort-left .sort-links a {padding: 17px 27px 0 27px}
.news-sort .sort-left .sort-links a:first-child:hover, .news-sort .sort-left .sort-links a:first-child.active {border-left: 1px solid #FFFFFF}

.about-shop .facebook-links {float: none; margin-bottom: 12px; margin-left: 0}
.about-shop.as2 {padding: 27px 30px; min-height: 193px}
.social.soc4 .soc3-left {width: 260px}
.social.soc4 .soc3-left .social-ico {top: 10px; right: 10px}
.social.soc4:hover .soc3-left {background-color: #F0EEE7}
.partners {padding-bottom: 1px; padding-right: 0}
.partners h3 {line-height: 1.2em; margin: 0 0 20px 0; font-size: 150%; color: #353E4B; text-transform: uppercase; font-family: 'Roboto Slab', serif; font-weight: 700}
.partner {display: inline-block; vertical-align: top; text-align: center; text-decoration: none; line-height: 1.7em; width: 168px; min-height: 205px; margin: 0 17px 20px 0; padding: 20px 25px; border: 1px solid #EAE7E0; font-size: 105%}
.partner-logo {display: block; height: 110px; line-height: 110px; vertical-align: middle; margin-bottom: 10px; overflow: hidden}
.partner-logo img {vertical-align: middle}
.fun-whole.wider {width: 995px}
.fun-whole.wider .fun {margin: 0 12px 15px 0}

.fun.service {width: auto; display: block}
.fun.service .fun-text {width: 660px}
.fun.service .action-more {display: inline-block; vertical-align: top; margin-right: 7%; margin: 5px 0}
.fun-a {font-weight: 700; color: #353E4B; text-decoration: underline}
.f-open-time {display: block; margin-bottom: 5px}
.f-open-time .ot-left {display: inline-block; vertical-align: top; width: 40px}
.f-open-time .ot-right {display: inline-block; vertical-align: top; width: 125px}
.fun-whole.wider .fun.service {width: 935px}

.search-form {position: absolute; left: 0; top: 0; width: 100%; background-color: #F4F2EC; padding: 15px 0}
.search-form div {margin: 0 auto; width: 950px; text-align: left}
.search-form .close {float: right; display: inline-block; background: url("../images/search_close.png") left top no-repeat; width: 20px; height: 20px; margin-top: 12px}
.search-form input[type=text] {width: 95%; padding: 0; color: #DBD9D2; font-family: 'Roboto Slab', serif; font-weight: 400; font-size: 250%; background-color: transparent; border: none}
.submenu-text-whole {display: inline-block; vertical-align: top; width: 600px; text-align: left}
.submenu-text-whole .submenu-text {display: inline-block !important; margin-bottom: 15px; padding-top: 10px}
.submenu-text-whole .action-more {font-size: 85%; text-transform: none; display: inline-block; vertical-align: top; width: 22%; margin-right: 7%; margin-bottom: 15px}
.submenu-wider {display: block !important; width: auto !important; text-align: left !important; padding-top: 20px; border-top: 1px solid #EAE7E0}
.submenu-wider .submenu-image {display: inline-block !important; margin-right: 30px; vertical-align: top; width: 202px}
.centre-submenu {padding: 0 0 10px 10px; border-bottom: 1px solid #EAE7E0; color: #353E4B; text-transform: none; font-size: 90%; font-weight: 400; font-family: 'Roboto', serif; margin-bottom: 20px}
.centre-submenu-left {float: left; width: 440px; margin-right: 30px}
.centre-submenu h2 {font-size: 110%; margin-bottom: 20px; text-transform: uppercase; font-family: 'Roboto Slab', serif}
.cs-col {float: left; width: 170px}
.cs-col.wider {width: 240px}
.centre-submenu p {margin: 0 0 20px 0; line-height: 1.6em}
.centre-submenu .action-more {color: #01B2C4; font-size: 100%; text-transform: none; margin: 0 0 15px 0; display: block; text-align: left}
.centre-submenu a {color: #01B2C4; font-size: 100%; text-transform: none; width: auto; display: inline; vertical-align: inherit}
.centre-submenu-right {float: left; width: 440px}
.centre-submenu-right .action-more {display: inline-block}

.top-image.higher.h2 {height: 160px}
.news-table-whole {padding: 25px 30px}
.news-table-whole p {line-height: 1.6em; margin: 0 0 25px 0}
.news-table {border-top: 1px solid #EAE7E0; margin-bottom: 5px}
.news-table div {border-bottom: 1px solid #EAE7E0; padding: 10px 0; line-height: 1.6em}
.nt-time {font-weight: 700; display: inline-block; vertical-align: top; width: 130px; font-size: 105%}
.nt-time span {display: inline-block; width: 40px; margin-left: 15px}
.nt-text {display: inline-block; vertical-align: top; width: 720px}
.socials-whole.gallery .social-image-cover {background: url("../images/gallery_hover.png") center center no-repeat}

.perex {font-size: 130%}
.forum-order h3 {margin: 0 0 20px 10px; line-height: 1.3em; text-transform: uppercase; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.forum-order span {border: none; display: inline; padding: 0}
.fo-contact {padding-left: 65px; background: url("../images/ico_phone.png") left top no-repeat; line-height: 2.2em; margin-bottom: 28px; margin-left: 10px}
.forum-order .foc-left {display: inline-block; vertical-align: top; width: 70px}
.forum-order .foc-right {display: inline-block; vertical-align: top; width: 150px}
.forum-order a {font-weight: 700; color: #01B2C4; text-decoration: none}
.forum-order .logo-forum {display: inline-block; background: url("../images/logo_forum.png") left top no-repeat; width: 165px; height: 51px; margin-left: 10px}
.tv-param {background-color: #BBC867; color: #FFFFFF; line-height: 1.4em; border: 9px solid #B3C05F; margin-bottom: 10px; padding: 30px 30px 10px 30px; font-size: 105%}
.tv-param span {display: inline-block; vertical-align: top; border-right: 1px solid #99A54D; padding-right: 30px; margin-right: 27px; margin-bottom: 20px}
.tv-param span strong {font-weight: 700; display: block; line-height: 1em; font-size: 290%}
.tv-param span strong sup {font-size: 55%;line-height: 1em}
.tv-param span:last-child {border: none; margin-right: 0}
.news-table-whole h3 {margin: 0 0 15px 0; line-height: 1.3em; text-transform: uppercase; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.nt2 .nt-time {width: 25%; padding: 0 1%}
.nt2 .nt-text {width: 67%}
.price-list-link {display: block; text-decoration: none; line-height: 1.3em; text-transform: uppercase; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B; margin: 0 10px; padding: 5px 0; background: url("../images/arrow_forum-down.png") right 10px no-repeat}
.price-list-link.active {background-image: url("../images/arrow_forum-up.png")}
.price-list {padding: 15px 20px 0 10px}
.price-list p {line-height: 1.5em; margin: 0 0 20px 0; font-size: 110%}
.price-list h3 {margin: 0 0 15px 0; line-height: 1.3em; text-transform: uppercase; font-size: 115%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.price-list table {width: 100%; border-collapse: collapse; margin: 0 0 25px 0; font-size: 105%}
.price-list table th, .price-list table td {border-top: 1px solid #EAE7E0; border-bottom: 1px solid #EAE7E0; text-align: left; vertical-align: middle; padding: 10px 15px; line-height: 1.4em}
.price-list table td {font-weight: 700}
.price-list table th {font-weight: 400; background-color: #F4F2EC}
.price-list-col {float: left; width: 50%}
.price-list-col table tr td:first-child {width: 20%}
.price-list-col.first {width: 48%; margin-right: 2%}
.table-info {line-height: 1.8em}
.t-mobile {display: none}

.contact-map-whole {padding: 25px 30px 0 40px; font-size: 105%}
.contact-map-whole h3 {margin: 0 0 3px 0; line-height: 1.3em; text-transform: uppercase; font-size: 145%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.contact-map-whole p {line-height: 1.5em; margin: 0 0 15px 0}
.c-address, .c-email, .c-info {display: inline-block; vertical-align: top; margin-right: 30px; padding: 5px 0 0 65px; min-height: 47px; margin-bottom: 30px; background: url("../images/ico_address.png") left top no-repeat; line-height: 1.6em}
.c-email {background-image: url("../images/ico_email2.png")}
.c-email span {display: inline-block; width: 40px}
.c-email a {font-weight: 700; color: #01B2C4; text-decoration: none}
.c-info {background-image: url("../images/ico_info.png")}
.contact-map {margin-left: -40px; position: relative; z-index: 30; overflow: hidden; text-align: center; width: 978px}
.contact-map2 {margin-left: -20px}
.contact-map img {display: block}
.contact-map span {display: inline-block; background: url("../images/map_pin.png") left top no-repeat; width: 59px; height: 61px; position: absolute; left: 50.7%; top: 31%}
.contact-blocks {padding-top: 10px; width: 960px; margin-bottom: -15px}
.contact-block {float: left; width: 267px; margin: 0 15px 15px 0; min-height: 98px; border: 1px solid #EAE7E0; font-size: 105%; padding: 15px 17px}
.contact-block h3 {margin: 0 0 15px 0; line-height: 1.3em; text-transform: uppercase; font-size: 105%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.contact-block h4 {color: #353E4B; margin: 0 0 5px 0; line-height: 1.5em; font-size: 100%}
.contact-block div {line-height: 1.8em}
.contact-block div .c-left {display: inline-block; vertical-align: top; width: 65px}
.contact-block div .c-right {display: inline-block; vertical-align: top; width: 185px}
.contact-block a {font-weight: 700; color: #01B2C4; text-decoration: none}
.write-us {padding: 25px 30px}
.write-us h3 {margin: 0 0 20px 0; line-height: 1.3em; text-transform: uppercase; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.write-us p {font-size: 105%; margin: 0 0 20px; line-height: 1.8em}
.write-us form {margin: 0}
.write-us form input[type=text], .write-us form textarea {background-color: #FFFFFF; width: 214px; height: 17px; padding: 9px 12px; border: 1px solid #DBDBDB; border-radius: 3px; vertical-align: middle; font-family: 'Roboto', serif; color: #B7B8B8; font-size: 100%}
.write-us form textarea {width: 891px; height: 117px}
.write-us label {display: inline-block; line-height: 1.4em; font-size: 105%; vertical-align: middle; margin-right: 15px; margin-bottom: 10px}
.write-us div {padding-bottom: 5px}
.write-us input[type=submit] {width: auto; display: inline-block; border: none; border-radius: 3px; cursor: pointer; vertical-align: middle; background: #01B2C4 url("../images/arrow_send.png") right center no-repeat; height: 38px; padding-left: 15px; padding-right: 25px; font-family: 'Roboto Slab', serif; font-weight: 700; color: #FFFFFF; font-size: 105%}

.daily-menu {padding: 25px 30px}
.daily-menu h2 {margin: 0 0 20px 0; line-height: 1.3em; text-transform: uppercase; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.daily-menu-block {border-bottom: 1px solid #EAE7E0; padding-bottom: 20px; margin-bottom: 20px}
.daily-menu-block:last-child {border: none; padding: 0; margin: 0}
.dm-date {display: inline-block; vertical-align: top; width: 90px; margin-right: 35px; border: 1px solid #EAE7E0; text-align: center; padding: 10px 0; line-height: 1.4em; text-transform: uppercase; font-size: 115%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B}
.dm-text {display: inline-block; vertical-align: top; width: 765px; line-height: 1.5em; font-size: 105%}
.dm-line {display: block; vertical-align: top; margin-bottom: 5px}
.dm-left {display: inline-block; vertical-align: top; width: 700px}
.dm-right {display: inline-block; vertical-align: top; width: 55px; text-align: right}
.dm-left span.ring {display: inline-block; vertical-align: top; width: 22px; height: 22px; padding-top: 1px; text-align: center; color: #FFFFFF; margin-right: 10px; font-weight: 700}
.dm-left span.yellow {background: url("../images/ring_yellow.png") left top no-repeat}
.dm-left span.green {background: url("../images/ring_green.png") left top no-repeat}
.dm-left span.pink {background: url("../images/ring_pink.png") left top no-repeat}
.dm-left span.food {display: inline-block; vertical-align: top; width: 660px}

.display{
	margin: -20px -20px 0 -20px;
	padding: 20px 20px 20px 20px;
	background-color: #eeeeee;
}
.display-left {float: left; width: 69%}
.display-right {float: right; width: 30%}
.display-right input{height: 36px; padding: 5px; float: right; box-sizing: border-box; width: 100%}

.button {width: auto; display: inline-block; border: none; border-radius: 3px; cursor: pointer; background: #01B2C4 url("../images/arrow_send.png") right center no-repeat; height: 38px; padding-left: 15px; padding-right: 25px; font-family: 'Roboto Slab', serif; font-weight: 700; color: #FFFFFF; font-size: 105%; line-height: 38px; margin-left: 15px;}

.action-h .button{vertical-align: top}

@media (max-width: 1720px) {
  .top-image {width: 100%; text-align: center}
  .top-image img {display: inline-block; width: auto}
}

@media (max-width: 995px) {

	.shop-category-list a {

		width: calc(33% - 17px);

	}

  .head-in, .menu-in, .popup-whole, .top-image-in {width: 768px}
  .menu-in {text-align: left}
  .menu-mobile {float: right}
  .menu-mobile-link {padding-right: 30px; background: url("../images/ico_menu.png") right 3px no-repeat; display: inline-block; text-decoration: none; margin: 25px 20px 0 0}
  .menu {display: block; position: absolute; top: 72px; right: 0; text-align: center; background-color: #000000; width: 100%}
  .menu li {float: none; display: block; height: auto}
  .menu li a {display: block; padding: 25px 20px; height: auto}
  .menu li a:hover {background-color: #18202A}
  .menu-logo {margin-right: 0}
  .submenu {display: none !important}
  .menu li.with-submenu:hover > a {border: none; background-color: #29323D; color: #FFFFFF}
  .logo {position: static; margin: 18px 0 0 25px}
  .slider-in {width: 720px}

  .slide-logos {right: 0; top: 40px}
  .main {width: 720px}
  .logos {padding-left: 13px}
  .logos a {margin: 0 12px}
  .action-slider, .shop-actions, .socials-whole {width: 697px}
  .action-slider li {width: 330px}
  .shop-action {width: 313px}
  .shop-actions {overflow: hidden; white-space: nowrap}
  .shop-action-image {height: 208px}
  .social.last {display: none}
  .social {width: 312px}
  .soc3 {width: 660px}
  .soc3-left {width: 310px}
  .soc3-right {width: 320px}
  .social.soc4 .soc3-left {width: auto}
  .footer {display: none}
  .footer-mobile {display: block}
  .footer-col1 {width: 100%; margin-right: 0; float: none; border-top: 1px solid #EBE9E3; padding-top: 35px}
  .footer-col3 {margin-right: 0; width: 100%; float: none; margin-bottom: 40px; border-bottom: 1px solid #EBE9E3}
  .footer-col3 ul {width: 23%; margin-right: 2%}
  .footer-col2 {width: 325px; padding-bottom: 15px}
  .footer-col2 p {display: inline-block; vertical-align: top; width: 150px; margin-left: 10px}
  .footer-col4 {width: 320px}
  .footer-col4 p {display: inline-block; width: 45%; margin-right: 2%; vertical-align: top}
  .comp-left {width: 230px}
  .comp-left h2 {font-size: 300%}
  .comp-left img {left: 0; width: 100%}
  .comp-right {width: 400px; padding: 25px 0 15px 20px}
  .label-input {width: 190px}
  .comp-right input[type=text] {width: 160px}
  .h-link {display: none}
  .gb-text {width: 270px}

  .slider li a > img.big {display: none}
  .slider li a > img.mid {display: inline-block;}
  .slider li a > img.small {display: none}

  .sort-left {width: 587px}
  .sort form {width: 233px}
  .sort form div {width: auto}
  .sort form input[type=text] {width: 100%}
  .shop-actions.sub {white-space: normal}
  .ca-text, .cat-actions.ca2 .ca-text {width: 350px}
  .about-shop {width: 295px}
  .facebook-links, .action-ico {display: none}
  .cat-actions.ca2 .cat-action {padding: 0; border: none; margin-bottom: 20px}
  .shop-list-col {width: 34%; margin-right: 15%}
  .shop-list-col.last {display: none}
  .shop-list-act {white-space: nowrap !important}
  .fun, .fun-whole.wider .fun {width: 310px; margin: 0 3px 10px 3px}
  .fun-image {margin: 0 0 15px 0; width: auto; display: block; float: none; height: auto}
  .fun-image span {display: inline-block; height: 190px; line-height: 190px; overflow: hidden; vertical-align: middle; width: 100%}
  .fun-image img {vertical-align: middle}
  .fun-text {display: block; float: none; width: auto}
  .map-nav {text-align: center; width: 93%; top: 30px}
  .map-nav li {display: inline-block; width: 88px; text-align: left; background: none; border: 1px solid #EAE7E0; margin-right: -1px}
  .map-nav li:hover, .map-nav li.active {background: none; border: 1px solid #CBC3B2}
  .map {overflow: hidden; width: 720px; margin-left: -20px; padding-bottom: 50px; padding-top: 100px}
  .map img {position: relative; left: -80px}
  .floor {margin-right: 20px}
  .map-icos {width: 500px}
  .map-icos span {width: 105px}
  .news-sort .sort-right a {display: none}
  .news-sort .sort-right a.active {display: block; border-right: 1px solid #FFFFFF; background: #FFFFFF url("../images/arrow_action.png") right center no-repeat; padding-right: 45px}
  .news-top .slide-logos {display: none}
  .news-top img {position: absolute; top: 0; right: 160px}
  .news-top .slider-arrow strong {font-size: 380%}
  .ca3 .ca-text {width: 350px}
  .ca3 .action-ico {display: inline-block}
  .fun-whole.wider {width: 100%}
  .about-shop .facebook-links {display: block}
  .partner {width: 160px}
  .f-open-time, .f-open-time .ot-left, .f-open-time .ot-right {display: inline; width: auto}
  .fun.service .fun-image {width: 290px; display: inline-block; margin-right: 30px; margin-bottom: 0}
  .fun.service .fun-text {display: inline-block; width: 330px}
  .fun.service .action-more {margin-right: 10%}
  .fun-whole.wider .fun.service {width: 675px}
  .search-form {padding: 10px 0}
  .search-form div {width: 703px; padding-left: 25px; background: url("../images/ico_search4.png") left center no-repeat}
  .search-form .close {background: url("../images/search_close2.png") left top no-repeat; width: 11px; height: 10px; margin-top: 3px}
  .search-form input[type=text] {color: #18202A; font-family: 'Roboto', serif; font-weight: 400; font-size: 100%; height: 17px}
  .nt-text {width: 500px}
  .contact-map-whole {padding-left: 30px}
  .c-info {margin-right: 0}
  .c-address, .c-email {margin-right: 20px}
  .contact-map {width: 718px; margin-left: -30px}
  .contact-blocks {width: 695px}
  .contact-block {width: 295px}
  .write-us .label-input {width: 205px}
  .write-us form input[type=text] {width: 175px}
  .write-us form textarea {width: 635px}
  .nt2 .nt-time {width: 31%; padding: 0 1%}
  .nt2 .nt-text {width: 61%}
  .price-list table th, .price-list table td {padding-right: 0}
  .price-list-col table tr td:first-child {width: 30%}
  .dm-date {margin-right: 20px}
  .dm-text {width: 530px}
  .dm-left {width: 475px}
  .dm-right {width: 45px}
  .dm-left span.food {width: 430px}
  
  i.fa {display: none}
}

@media (max-width: 765px) {
  body {background-color: #FFFFFF}
  .head-in, .menu-in, .popup-whole, .slider-in, .main, .action-slider, .shop-actions, .socials-whole, .top-image-in, .news-top-in {width: 320px}
  .be-in-link span, .search-link span {display: none}
  .search-link {padding: 21px 15px 20px 15px; background: url("../images/ico_search.png") center center no-repeat}
  .forum-tv-link {padding: 12px 10px 12px 30px; background-position: 7px center}
  .be-in-link {padding: 21px 15px 20px 15px; background-position: center center; margin-left: 5px}
  .language li a {padding: 12px 11px}
  .logo {margin-left: 0}
  .menu-mobile-link {margin-right: 0}
  .slider a > img, .slide-logos, .news-top img {display: none}
  .slider-box {display: none}
  .slider-arrow {width: auto; height: 250px; padding-top: 30px; display: block}
  .slider-arrow strong {font-size: 350%}
  .slider-whole, .slider, .slider li {/*height: 344px*/display:none}
  .logos {display: none}
  .white-block {background-color: transparent; border: none}
/*  .action-h {background-color: transparent; padding: 0}*/
  .show-all {display: none !important}
  .action-slider, .shop-actions, .socials-whole {width: 300px}
  .action-slider li {width: 280px}
  .green-block {margin-bottom: 0}
  .gb-button1, .gb-button2 {display: none}
  .gb-text {text-align: center; width: auto; margin: 0}
  .centrum-shops {padding: 25px 10px 30px 10px; width: 300px; margin-left: -20px}
  .shop-action {width: 265px}
  .shop-action-image {height: auto}
  .soc1, .soc2 {display: none}
  .soc3-left, .soc3-right {float: none; width: auto}
  .soc3 {width: 265px}
  .social-image {height: auto}
  .soc-arrow {position: absolute; left: 0; right: auto; top: auto; bottom: -10px; height: 10px; width: 100%; background-position: center bottom}
  .yellow-block {margin: 0}
  .yellow-block .gb-text {display: none}
  .made-by, .copyright-left {float: none; text-align: center; margin-bottom: 18px}
  .copyright-middle span {display: none}
  .copyright-middle a {display: block; margin-bottom: 5px}
  .footer, .copyright {background-color: #F4F2EC}
  .footer-mobile {padding: 0}
  .footer-mobile h3 {display: none}
  .footer-mobile h3.h-link {display: block}
  .footer-mobile h3.h-link a {display: block; text-align: center; padding: 25px 0; height: 17px; background: url("../images/arrow_footer-down.png") right 32px no-repeat}
  .footer-mobile .open h3.h-link a {background-image: url("../images/arrow_footer-up.png")}
  .footer-col1, .footer-col2, .footer-col3, .footer-col4 {float: none; width: auto; padding: 0 20px; margin: 0; height: 67px; overflow: hidden; border-bottom: 1px solid #EBE9E3}
  .footer-col1.open, .footer-col2.open, .footer-col3.open, .footer-col4.open {height: auto}
  .footer-col3.open, .footer-col2.open, .footer-col1.open, .footer-col4.open {padding-bottom: 10px}
  .footer-col3 h3, .footer-col2 h3, .footer-col1 h3, .footer-col4 h3 {margin-bottom: 10px}
  .footer-col3 ul {width: 49%; margin: 0 1px 0 0}
  .footer-col2 {text-align: center}
  .footer-col2 p {width: auto; display: block; margin-top: 15px}
  .android, .iphone {margin: 0 10px}
  .copyright {margin: 0}
  .centrum-shops form {width: auto}
  .centrum-shops .search-inputs input[type=text] {width: 250px}
  .popup-form p {width: auto}
  .popup-inputs input[type=text] {width: 150px}
  .comp-left {width: auto; float: none; border: none}
  .comp-right {width: auto; float: none}
  .label-input {width: 250px}
  .comp-right input[type=text] {width: 210px}

  .slider li a > img.big {display: none}
  .slider li a > img.mid {display: none}
  .slider li a > img.small {display: inline-block;}

  .cat-act {display: none}
  .load-more.mobile {display: block}
  .sort {height: auto}
  .sort-right {display: none}
  .sort-left {width: auto; float: none}
  .sort-links {width: auto; float: none}
  .sort-links a {display: none}
  .sort-links a.active, .news-sort .sort-right .active {display: block; width: auto; border: none; text-align: left; background: #E7E5DD url("../images/arrow_action.png") right center no-repeat; padding-left: 20px; padding-right: 20px; border-bottom: 1px solid #DDD9CD}
  .sort form {background-color: #F4F2EC; width: auto; float: none}
  .shop-actions.sub .shop-action {margin-bottom: 10px}
  .top-image {height: 115px}
  .top-image h1 {margin-top: 35px; font-size: 260%}
  .top-image.higher {height: 320px}
  .top-image.higher h1 {margin: 0 0 20px 0}
  .back-list {display: inline-block; position: static; margin-bottom: 12px; margin-top: 40px}
  .about-shop, .about-shop.as2 {width: auto; border: none; padding: 0 20px; float: none; margin-bottom: 30px}
  .shop-image {float: none; padding: 0; border: none; text-align: center; margin: 0 auto 15px auto; width: 285px}
  .shop-image img {width: 100%}
  .shop-info {background-color: transparent; padding: 0}
  .shop-info-col {float: none; width: auto; text-align: left; margin: 0}
  .si-block div {display: inline-block; width: 48%}
  .shop-info-col .si-block div:last-child {text-align: right; top: 0}
  .shop-info-col .si-block {padding-bottom: 0}
  .shop-info-col .si-block div.ti-button1-large {font-size: 105%}
  .open-time {padding: 0; background: none}
  .shop-list-col {padding: 0; float: none; width: auto; margin: 0}
  .shop-list-col ul {padding-bottom: 0}
  .sl-none {display: none}
  .shop-list-col.last {display: block}
  .shop-list-act {padding-top: 25px}
  .search-result {padding: 15px}
  .search-result p {margin-bottom: 7px}
  .search-h-hide {display: none}
  .fun {padding: 0 20px 25px 20px; margin: 0 0 25px 0; border: none; border-bottom: 1px solid #EAE7E0; width: 280px}
  .fun:hover {border: none; border-bottom: 1px solid #EAE7E0}
  .fun:last-child, .fun:last-child:hover {border-bottom: none; margin-bottom: 0}
  .map-nav {width: 100%; left: 0}
  .map-nav li {display: none}
  .map-nav li.active {display: block; width: auto; border: none; text-align: left; background: #FFFFFF url("../images/arrow_action.png") right center no-repeat; padding: 0; border: 1px solid #DFDBD0; font-size: 115%; height: auto}
  .map-nav li.active a {color: #18202A; background: none; padding: 20px; width: auto; display: block}
  .map {width: 320px}
  .map img {left: -400px}
  .floor {display: none}
  .map-icos {width: auto}
  .map-icos span {width: auto; display: block}
  .cat-act.display {display: block}
  .ca3 .ca-image {float: none; width: 260px; display: block; margin-bottom: 10px}
  .ca3 .ca-image img {width: 100%}
  .ca3 .ca-text {float: none; width: auto}
  .news-sort .sort-right {display: block; float: none; width: auto; border-left: none !important}
  .news-sort .sort-links .active {border-left: none !important}
  .news-sort .sort-right .active {background-color: #E7E5DD !important; border-left: none !important; border-right: none !important}
  .news-top .slider-arrow {margin-left: 0}
  .news-top .slider-arrow strong {font-size: 350%}
  .news-top {height: 334px}
  .partner {width: 230px; display: block; margin-right: 0; min-height: inherit}
  .social.soc4 {display: block; width: 265px}
  .social.soc4 .soc3-left {width: auto}
  .fun-whole.wider {width: auto; padding-left: 5px}
  .fun-whole.wider .fun, .fun-whole.wider .fun.service {padding-bottom: 15px; margin: 0 0 15px 0; width: auto}
  .fun-whole.wider .fun-image, .fun-whole.wider .fun.service .fun-image {display: inline-block; width: 70px; margin-right: 15px; margin-bottom: 0; height: auto}
  .fun-whole.wider .fun-image span, .fun-whole.wider .fun.service .fun-image span {height: auto}
  .fun-whole.wider .fun-text, .fun-whole.wider .fun.service .fun-text {display: inline-block; padding-top: 17px}
  .fun-whole.wider .fun-title, .fun-whole.wider .fun.service .fun-title {font-size: 150%; margin: 0 0 3px 0}
  .fun-whole.wider .fun-p, .fun-whole.wider .fun.service .fun-p {display: none}
  .fun.service .fun-image {display: block; width: auto; margin-bottom: 15px; margin-right: 0}
  .fun.service .fun-text {display: block; width: auto}
  .fun.service .action-more {width: 90%; margin-right: 0; padding: 0}
  .fun.service ul li {font-size: 110%; list-style-type: none; width: 340px; padding: 3px 6px; border: solid 1px white;}
  .fun-whole.wider .fun.service .fun-title {margin-bottom: 8px}
  .fun-whole.wider .fun.service {width: auto}
  .search-form div {width: 295px}
  .nt-time, .nt-text {display: block; width: auto}
  .nt-time {margin: 0 0 12px 0}
  .nt-time span {width: auto; margin: 0}
  .socials-whole.gallery .social {width: auto}
  .price-list-whole {border-bottom: 1px solid #EAE7E0; padding-top: 10px}
  .c-address, .c-email {margin-bottom: 10px}
  .contact-map {width: 320px}
  .price-list-link {margin: 0; padding-right: 20px}
  .contact-blocks {width: auto}
  .contact-block {display: block; width: auto; margin-right: 0; float: none}
  .contact-block div .c-left {width: 45px}
  .write-us form .label-inputs {width: 280px}
  .write-us form input[type=text], .write-us form textarea {width: 240px}
  .tv-param {padding: 20px 15px 5px 15px}
  .tv-param span {border-right: 0; margin-right: 0; padding-right: 0; width: 48%}
  .tv-param span strong {font-size: 210%}
  .forum-order {text-align: left; border-top: 1px solid #EAE7E0; padding-top: 30px; margin-bottom: 20px}
  .forum-order h3 {margin-left: 0}
  .fo-contact {margin-left: 0}
  .forum-order .foc-left {width: 55px}
  .forum-order .logo-forum {margin-left: 0}
  .nt2 {border-top: 1px solid #EAE7E0; padding: 25px 20px}
  .nt2 .news-table {border-top: none}
  .nt2 .news-table div:first-child {width: auto; border-top: none}
  .nt2 .nt-time, .nt2 .nt-text {display: block; width: auto}
  .price-list-col {margin: 0 0 20px 0 !important; width: auto !important; float: none}
  .price-list {padding: 15px 0 0 0}
  .price-list-col table tr td:first-child {width: 40%}
  .t-desctop {display: none}
  .t-mobile {display: block}
  .t-mobile th, .t-mobile td {text-align: center !important; width: 80px !important}
  .t-mobile tr:nth-child(odd) th, .t-mobile tr:nth-child(odd) td {border-bottom: none !important; padding-bottom: 5px !important; font-weight: 400 !important}
  .t-mobile tr:nth-child(even) th, .t-mobile tr:nth-child(even) td {border-top: none !important}
  .daily-menu {padding: 20px 0}
  .dm-date {margin: 0 0 15px 0}
  .dm-text {width: auto; display: block}
  .dm-left {width: 260px}
  .dm-right {width: 45px}
  .dm-left span.food {width: 220px}
  
  .shop-list-col ul li a span.contact {width: 20%}
  .shop-list-col ul li a strong.contact {width: 73%}
  .shop-list-col ul li a {padding: 10px 10px;}
  .main ul li.contact {padding: 10px 0px;}

	.display .display-left, .display .display-right, .display .display-right input{
		float: none;
		width: 100%;
		margin-bottom: 5px;
	}

	.display .sort1{
		padding-left: 1px;
		padding-right: 1px;
	}

	.shop-category-list a{
		width: 100%;
	}
	.shop-category-list a.multi-line{
		line-height: 40px;
	}

	.shop-category-list{
		width: 100%;
	}

	.display{
		margin: -10px -10px 0 -10px;
		padding: 10px 10px 10px 10px;
	}

}