/* header */
textarea {resize: none;}

.slider-whole {background: none}
.slider {z-index: 0}
.action-h {z-index: 0}
.top-image h1 {max-width: 740px}
.slider li {left: 0; top: 0; position: absolute}
.top-image.higher {height: 218px}
.top-image.higher img {height: 100%; /* position: relative; left: 100%; margin-left: -200%;*/}

.green-block {margin-bottom: 10px; background-color: #BE5F8E; text-align: center; border: 9px solid #AE4E7E; color: #FFFFFF; line-height: 1.3em; padding: 15px}
.green-block .gb-button1, .green-block .gb-button2 {background: #9a426e url("../images/ico_email.png") 15px center no-repeat;}
 
.submenu-wider .submenu-text-whole .submenu-text {text-align: left}

.menu-logo {
	margin-right: 232px;
}
.logo {
	left: 420px;
}
.menu-in {
	width: 980px;
}
.submenu {
	left: 0px;
	width: 958px;
}
.menu .with-submenu:nth-child(1) {width: 112px}
.menu .with-submenu:nth-child(2) {width: 115px}
.menu .with-submenu:nth-child(3) {width: 142px}
.menu .with-submenu:nth-child(4) {width: 159px}
.menu .with-submenu:nth-child(5) {width: 101px}
.menu .with-submenu:nth-child(6) {width: 118px}

.back-list {
	background: url("../images/arrow_back.png") left 3px top 4px no-repeat;
	font-size: 1.2em;
	left: 20px;
}
.submenu .submenu-wider span {
	color: #18202A;
	vertical-align: top;
	margin: 0 16px 15px 0;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.3em;
	font-family: 'Roboto Slab', serif;
	font-size: 105%;
	font-weight: 700;
}
.submenu .submenu-wider .action-more, .submenu-text-whole .action-more {
	margin-right: 7%;
	color: #01B2C4;
	text-align: left;
	font-size: 85%
}

.submenu-image img {display: block; width: 100%; height: 187px}
.menu-whole {z-index: 50; font-weight: 400;}
/* /header */

/* homepage */
.shop-action-text .sa-name {font-size: 130%;}
/* slider na akce centra a akce obchodu */
.shop-actions-conainer, .action-slider-container {
	position: relative;
	overflow: hidden;
	width: 940px;
}
.shop-actions {z-index: 0}
.shop-actions-list, .action-slider {margin: 0 0 33px 0; padding: 0; width: 960px; float: left; position: relative}
.homepage .shop-actions-list, .homepage .action-slider { width: 20000em;}
.shop-action-image {overflow: hidden}
/* /homepage */

/* obecne */
.ti-button3 {display: inline-block; line-height: 1.3em; text-decoration: none; color: #FFFFFF; font-weight: 700; font-family: 'Roboto Slab', serif; vertical-align: top; padding: 10px 20px 10px 50px; border-radius: 2px; margin: 0 3px 8px 3px}
.ti-button3 {background: #E4D373 url("../images/ico_cart.png") 20px center no-repeat; padding-left: 45px}

div.gallery {
	height: 220px;
	overflow: hidden;
}
.social-block-container .socials-whole {overflow: hidden; width: 100% !important}
.social-block-container .socials-whole a:nth-of-type(3n) {margin-right: 0px}
.social-image-bottom {display: none}
.social-text {width: 80%; padding-left: 10%}

.error404 {padding: 80px; text-align: center}
.error404 p {font-family: 'Roboto Slab', serif; font-size: 160%;}
.error404 span, .error404 a {color: #01B2C4; font-family: 'Roboto Slab'; text-decoration: none; font-weight: bold;}
.error404 span {font-family: 'Roboto Slab', serif; font-size: 200px; font-weight: 700}

.white-block .div25p {width: 25%; float: left;}
.div50p {width: 50%; float: left;}
.divWith10Padding {padding: 0 10px; overflow: hidden; line-height: 1.6em;}

.main ul li {font-size: 125%}
.main .footer ul li, .main .shop-common ul li {font-size: 105%}

.check-whole {white-space: nowrap; display: inline-block; width: 180px;}
/* /obecne */

/* news */
.ca-image {width: 282px}
.ca-text {width: 596px;}
.cat-action.no-image .ca-text {width: 100%}
.cat-action.no-image .ca-text .action-ico {margin-right: 34px}

.cat-actions.ca2.single .shop-discount.cat-action {width: 660px;}
.cat-actions.ca2.single .shop-discount.cat-action .ca-text {width: 340px; padding-left: 10px;}
.cat-actions.ca2 .shop-discount.cat-action {width: 300px; border: none; display: inline-block; cursor: pointer; padding: 20px}
.cat-actions.ca2 .shop-discount.cat-action .ca-image {margin-right: 0px;}
.cat-actions.ca2 .shop-discount.cat-action .content {display: none}
.cat-actions.ca2 .slider-container .slider {width: 680px; height: 340px; overflow: hidden; float: left; position: relative}
.cat-actions.ca2 .slider-container .slider > div {width: 20000em; margin: 0 0 33px 0; padding: 0; position: absolute;}
.cat-actions.ca2 .slider-container .slider .shop-discount {float: left;}

.shop-common {float: right; background-color: #F4F2EC; padding: 18px; margin-top: 20px; max-width: 220px}
.shop-common h2 {margin: 0 0 10px 0px; line-height: 1.3em; font-size: 150%; font-weight: 700; font-family: 'Roboto Slab', serif; color: #353E4B; text-transform: uppercase}
.shop-common ul {margin: 0; padding: 0 0 15px 0}
.shop-common ul li {list-style-type: none}
.shop-common ul li a {display: block; text-decoration: none; line-height: 1.5em; padding: 10px 30px 10px 10px; border: 1px solid #F4F2EC}
.shop-common ul li a span {display: inline-block; vertical-align: top; width: 25%}
.shop-common ul li a strong {font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4; display: inline-block; vertical-align: top; width: 70%}
.shop-common ul li a:hover {border: 1px solid #EAE7E0; background: url("../images/arrow_list2.png") right 14px no-repeat}
.shop-common ul li a:hover strong {text-decoration: underline}
.hide-on-desktop {display: none}

#popup {z-index: 40; width: 100%; background: #FFFFFF; position: absolute; left: 0px; top: 0px; min-height: 450px; display: none}
#popup .content {display: inline; width: 100%}
#popup .popup-close {
	right: 20px; top: 20px; 
	position: absolute; 
	background: url("../images/search_close.png"); 
	width: 20px; height: 20px; cursor: pointer
}
#popup .popup-container .shop-discount.cat-action {width: auto; cursor: auto;}
#popup .popup-container .shop-discount.cat-action .ca-text {width: 900px; padding: 10px}
#popup .popup-container .shop-discount.cat-action .ca-image {display: none;}

#popup .about-shop p img, .white-block p img {max-width: 900px;}

.shop-discount.cat-action .ca-text {width: 100%;}

.action-ico {float: right;}
.action-slider li {list-style-type: none; display: inline-block; width: 300px; margin-right: 18px; float: left; text-align: center; height: 290px;}
.action-slider-nav {width: 940px}
.news-top {width: 100%;}
.news-top-in {width: 100%; z-index: 0}

.news-top {background: initial}
.news-top-in a > img {margin: 0; float: initial; left: 0; top: 0; position: relative;}
.news-top-in a {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
/*
.news-top-in a > img {
	height: 100%;
	position: relative;
    left: 100%;
    margin-left: -200%;
}*/

.news-top-in a > img.big {display: inline-block}
.news-top-in a > img.mid {display: none}
.news-top-in a > img.small {display: none}

.description-content {height: 140px; overflow: hidden}
.text-resize .description-content {height: 176px; overflow: hidden}
.about-shop.as2 .text-resize .description-content {height: 172px; overflow: hidden}
.description-content.list-row {height: 90px; overflow: hidden}
.si-block div a {width: 100%; word-break: break-all}
.read-less {text-decoration: none; font-weight: 700; font-family: 'Roboto Slab', serif; color: #01B2C4; line-height: 1.4em; padding-right: 17px; background: url("../images/arrow_blue-up.png") right 7px no-repeat}
.text-resize {position: relative; padding-bottom: 20px}
.read-more, .read-less {position: absolute; bottom: -10px}
.sort-me {display: none}

.cat-action {border-bottom: 1px solid #eae7e0; margin-bottom: 10px; padding-bottom: 10px}

.tv-param span {padding-right: 28px;}
/* /news */

/* shops */
.partner-logo {height: 100%;}
.partner-logo img {width: 100%;}

.shop-info {text-align: center; width: 100%; padding: 20px 0 20px 0; max-height: 140px; background-color: #fff; font-size: 110%}
.shop-info-col {display: inline-block; width: 24%; margin: 0 auto; float: none !important; vertical-align: top;}
.logos {padding: 0}

.logos .big {display: block}
.logos .mid {display: none}
.facebook-button {background: url("../images/fb_button.png") left center no-repeat; padding: 8px 14px 8px 40px; height: 45px; line-height: 45px; color: white !important;}
.no-margin {margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0;}

.gray-border {border: 1px solid #EBE8E1;}
.gray-border .about-shop {min-height: 176px; overflow: hidden; position: relative; background-color: transparent; border: none}

.about-shop p, .white-block p {font-size: 125%;}
.about-shop p a, .white-block p a {color: #01B2C4; text-decoration: none;}
.about-shop .with-border, .services-content .with-border {border: 1px solid #EBE8E1; padding: 20px}
.fun-whole .with-border {display: none}

.about-shop {min-height: 176px;}
.about-shop.as2 {min-height: 192px}
.gray-border {border: 1px solid #EBE8E1;}
.gray-border .shop-image {background-color: transparent; border: none}
.gray-border .shop-image > span {background-color: white}


.shop-info-col .si-block div {font-size: 105%}
/* /shops */

/* cinema & fun, service, about */
.fun-image img.big {display: block}
.fun-image img.mid {display: none}
.fun-image img.small {display: none}

.fun.service .action-more {
	/*width: 26%;*/
	margin-right: 4%;
}

.fun-p {max-height: 3em; text-overflow: ellipsis; overflow: hidden}
.fun-p > p {line-height: 1.3em; margin: 0px; display: inline}
.write-us form input[type=text].error, .write-us form textarea.error {border: 1px solid #D67878; margin-bottom: 10px}
.write-us form span.error {color: #D67878; background: url("../images/error.png") left center no-repeat; padding-left: 20px;}
.write-us h3.success {background: url("../images/success.png") left center no-repeat; padding-left: 60px; height: 50px; line-height: 50px;}

.map {height: 500px; width: 100%}

.contact-map {z-index: 0}
.contact-block {width: 260px;}

.social-image {width: 282px; height: 188px}

/* /cinema & fun, service, about */

/* Colorbox + popup */
#cboxOverlay {visibility: visible; opacity: 0.5 !important; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: black}
#popup-container, #popup-overlay, div.submenu-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
#popup-overlay {z-index: 60 !important}
#popup-container {z-index: 61}
#popup-overlay, div.submenu-overlay {
	background: #18202A;
	z-index: 1;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
#popup-content {
	margin: 200px auto 0 auto;
}

div.search-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	background: #18202A;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
/* /Colorbox + popup */

/* autocomplete */
#search_fulltext { color: black }
.autocomplete-suggestions { border: 1px solid #999; background: #f5f2ed; overflow: auto; text-align: left; }
.autocomplete-suggestion {
	padding: 22px 28px;
	border: 1px solid #eae7e0;
	white-space: nowrap;
	overflow: hidden;
	color: #02b1c2;
	cursor: pointer;
	cursor: hand;
	font-family: 'Roboto Slab', serif;
	font-size: medium;
}
.autocomplete-suggestion:hover { background: #fff; }
.autocomplete-suggestion span {float: right; background: url(../images/arrow_blue-small.png) right no-repeat; padding-right: 32px; color: #8b9094; font-size: small; }
.autocomplete-selected { background: #FFF; }
.autocomplete-suggestion strong { color: #02b1c2; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/* /autocomplete */


/* formulare v popupu */
.popup-inputs input[type=button], .comp-right input[type=button] {background-color: #fbc509; margin-right: 5px}
.popup-inputs input[type=text].error, .popup-inputs textarea.error, .comp-right input[type=text].error {border: 1px solid #D67878}
#popup_gift .comp-right {width: 100%}
/* formulare v popupu */

.daily-menu h2 {margin: 0 0 5px 0}
.daily-menu h3 {margin: 0 0 20px 0}

.popup-form p.wide {width: 100%}

.career-block {width: 620px; float:left}

.career-row-image {float: right; text-align: right}

body.pl .sort-links {
	width: 274px;
}

body.pl .sort-links .sl2 {
	width: 150px;
}