/* footer */
/* /footer */
@media (max-width: 765px) and (orientation: portrait) {
	.slider li a > img.small {display: none}
	.slider li a > img.small.vertical {display: inline-block; text-align: center;}
}
@media (max-width: 765px) and (orientation: landscape) {
	.slider li a > img.small {display: inline-block;}
	.slider li a > img.small.vertical {display: none;}
}
@media (max-width: 765px) {
	html, body {overflow-x: hidden}

	/* header */
	.head-in, .menu-in, .popup-whole, .top-image-in {width: 320px}
	.top-image.higher h1, .top-image h1 {margin: 15px 10px 10px 10px; display: block}
	.top-image.no-bottom-margin {margin-bottom: 0}
	ul.language {
		position: absolute;
		float:right;
		right: 40px;
		background-position-x: 42px;
		background-position-y: 18px;
		background-size: initial;
		background-repeat: no-repeat;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-image: url(../images/arrow_down.png);
		background-color: transparent;
		width: 60px;
	}
	ul.language li.active a {background: black}
	ul.language li {display: none; width: 60px;}
	ul.language li a {width: 20px; background: black}
	ul.language li.active, ul.language.active li {display: inline-block}
	ul.language:hover li, ul.language li.active, ul.language.active li {display: block}
	.menu-whole {margin: -1px 0px;}
	.menu {margin-top: -1px}
	.menu-mobile-link {margin-right: 20px}
	/* /header */
	.centrum-shops {margin-left: -10px}

	/* homepage */
	.action-slider li {margin: 0 18px 0 0;}
	/* /homepage */
	
	/* shops */
	.partner-logo img {height: 120px; width: initial}
	.shop-info-col {width: 100%;}
	.shop-info {padding: 20px 10px 0 10px; width: 290px;}
	.about-shop {min-height: initial; padding-top: 20px;}
	.sort-left, .sort-links, .sort form {float: left}

	.gray-border {
		border: none;
		background: white;
	}
	.shop-action {margin: 0 10px;}

	div.shop-list-compat {width: 100%; float: left}
	div.shop-list-compat > div.shop-list-col {float:left; width: 100%; margin-right: 0}
  .shop-list-col ul li span.contact-tel {display: none}
  .shop-list-col ul li span.contact-mail {display: none}
	/* /shops */

	/* cinema & fun, service, about */
	.fun-image img.big {display: none}
	.fun-image img.mid {display: block}
	.fun-image span {height: 175px}

	.fun-whole.wider {padding-top: 20px}
	.fun:nth-child(even), .fun-whole.wider .fun:nth-child(even){margin: 0 0 26px 0}
	.fun, .fun-whole.wider .fun, .fun:last-child, .fun:last-child:hover {margin: 0 0 26px 0}
	/* /cinema & fun, service, about */

	.action-slider-nav, .shop-actions-conainer, .action-slider-container {width: 100%}
	.homepage .action-slider, .homepage .shop-actions-list {width: 20000em}

	/* news */
	.white-block {padding: 10px;}
	.white-block p {padding: 0 10px 10px 10px; text-align: justify}

	.ca-text {width: 300px;}
	.action-ico {margin-right: 0px}

	.logos .big {display: none}
	.logos .mid {display: none}

	.about-shop {padding-bottom: 0px;}
	.read-more, .read-less {bottom: 10px}

	.sort-links {display: none}

	.cat-actions.ca2 .ca-text {width: 300px}
	/* /news */

	/* obchody */
	.partner {margin: 0 auto}
	div > div.shop-list-col {float: left !important; width: 100%}
	/*div > div.shop-list-col:nth-of-type(odd) {float:left; clear: both}
	div > div.shop-list-col:nth-of-type(even) {float:right;}*/

	.fbblock div {width: 100%}
	.facebook-button {
		width: 100%;
		text-align: center;
	}

	.action-h {margin-top: 10px}
	/* /obchody */

	.about-shop p img, .white-block p img {max-width: 100% !important; height: auto !important;}
	#popup .about-shop p img, .white-block p img {max-width: 300px;}
	.news-top-in a > img.big {display: none}
	.news-top-in a > img.mid {display: none}
	.news-top-in a > img.small {display: inline-block}
	.cat-action.no-image .ca-text .action-ico {margin-right: 0px}
	.map {margin-left: 0; }
	.map img {left: 0}

	.services-content {padding: 10px}

	/* search */
	.sort {margin: 0}
	.sort-gray {padding: 20px; background-color: #F4F2EC; margin-bottom: 20px}
	/* /search */
	.sort form {width: 100%}
	.sort-me {display: inline-block}
	.shop-sort .sort-right {
		display: inline-block;
		position: relative;
		top: 0px;
		left: 0px;
		text-align: center;
		border-bottom: 1px solid #DDD9CD;
		width: 100%;
		background: #E7E5DD;
	}
	.shop-info-col .si-block div {vertical-align: top;}
	.shop-info-col .si-block p {margin: 0px}
	.shop-sort .sort-me, .shop-sort .selectboxit-container {display: inline-block}
	/*.sort-right {display: none !important}*/

	.write-us, .partners {border-bottom: 1px solid #EAE7E0; margin-bottom: 24px; padding-bottom: 24px}

	.description-content {max-height: inherit; height: auto; margin-top: 20px}
	.text-resize {padding-bottom: 40px}
	.description-content.list-row p {padding: 0px 0px 10px 0px}
	.shop-info {max-height: inherit;}
	.white-block .div25p {width: initial; float: initial; padding: 0}
	.contact-map {margin: 0 auto}
	.cat-action a img {width: 100%}
	.error404 {padding: 0px}
	.error404 span {padding: 20px; font-size: 140px;}
	.error404 p {font-size: 140%; padding: 0 20px;}
	.fun.service .action-more {width: 100%}

	.write-us h3.success {height: 100px}


	/* cinema & fun, service, about */
	div.white-block.price-list-whole {margin-bottom: 20px}
	/* /cinema & fun, service, about */

	/* popup */
	#popup-container .right {text-align: center}
	#popup_gift .comp-right {width: 90%; padding: 25px 5% 15px 5%}
	#popup_gift .comp-right input[type=text] {width: 90%}
	.popup-form {padding: 20px 0 60px 0}
	.popup-whole {width: 300px}
	/* popup */

	/* socialka */
	.social-block-container .socials-whole {height: 216px}

	/* /socialka */
	.about-shop.as2 {min-height: 0; margin-bottom: 10px}
	.back-list {margin: 20px 0 0 0}
	.shop-image {margin-bottom: 5px}
	.shop-image.no-margin {margin: 0 auto 15px auto}
	.carrer-detail {border-bottom: 1px solid #eae7e0}

	body.cz .ti-button3, body.cz .ti-button2 {width: 107px}
	body.cz .ti-button1 {width: 102px}

	.contact-block {width: 260px}
	
	.career-block {width: 300px; float: left;}
	.career-block p {padding: 0px 0px 10px 0px;}

	.hide-on-tablet, .hide-on-desktop {display: block}
	.hide-on-mobile, .shop-common {display: none}

	.comp-left img {left: 0; width: 100%; height: initial;}
}
